<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
  </head>
  <body>
    <div align="center">
      <p>official website</p>
      <h1>Mezzo 2</h1>
      <section>
        {{ content }}
      </section>
      <footer>
        Copyright &copy; <b>Dzianis Rusak</b> 2016 – {{ site.time | date: '%Y' }}
      </footer>
    </div>
  </body>
</html>